<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header-css"/>    
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">


<div class="card mt-2">
 	<div class="card-header">
 		Create Song Request
 	</div>
 	<div class="card-body"> 	 		
		 <form th:action="@{/request/create}"  method="post" th:object="${songRequest}">
			 <div class="form-group">
			    <label>Song Title:</label>
			    <input type="text" th:field="*{songName}" class="form-control"/>				    
			  </div>
			  <div class="form-group">
			    <label>Artist:</label>
			    <input type="text" th:field="*{artistName}" class="form-control"/>				    
			  </div>
			  <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
			    <label>User:</label>
			    <select class="form-control" th:field="*{user}">
			    	<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
			    </select>				    
			  </div>
			  <div class="form-group">
			    <label>Duet:</label>
			    <select class="form-control" th:field="*{duetUser}">
			    	<option value="-1">Select a user to duet with!</option>
			    	<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>			    	
			    </select>				    
			    <small class="form-text text-muted">This field is optional</small>
			  </div>
			  <a th:href="@{/home}" class="btn btn-outline-secondary">Cancel</a>
		      <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
     
 
</div>



</body>
</html>
