<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>    
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">


<div class="panel panel-primary">
 	<div class="panel panel-heading">
 		Create Song Request
 	</div>
 	<div class="panel panel-body"> 	
		 <form th:action="@{/request/create}"  method="post" th:object="${songRequest}">
			 <div class="form-group">
			    <label>Song Title:</label>
			    <input type="text" th:field="*{songName}" class="form-control"/>				    
			  </div>
			  <div class="form-group">
			    <label>Artist:</label>
			    <input type="text" th:field="*{artistName}" class="form-control"/>				    
			  </div>
			  <a th:href="@{/home}" class="btn btn-danger">Cancel</a>
		      <button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
     
 
</div>



</body>
</html>
