<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/> 
    <script th:src="@{/js/fragments/credentialsModal.js}"></script>   
</head>
<body>

<div th:replace="fragments/header :: header"/>

<th:block th:if="${isKiosk}">
	<div th:replace="fragments/credentialsModal :: credentialsModal"/>
</th:block>

<div class="container">
	<div class="row" th:if="${isKiosk}">
		<div class="col-2">			
			<a th:href="@{/home}" class="btn btn-primary btn-lg btn-block mt-3"><i class="fas fa-chevron-circle-left"></i> Back</a>
		</div>
		<div class="col-10">
			<h2 class="display-4 text-light">Cast vote for best performance</h2>		
		</div>
	</div>	
	
	<input type="hidden" id="kiosk-user-id" />
	<div th:replace="fragments/voteList :: voteList"></div>
	
 
</div>



</body>
</html>
