<div th:fragment="currentRequests">

	<table id="current-requests" class="table table-dark table-condensed table-striped table-hover">		
		<tr>			
			<th>Seq</th>
			<th>User</th>					
			<th>Song</th>
			<th>Artist</th>
			<th>Options</th>			
		</tr>
		<tr th:each="songRequest : ${currentRequests}" th:unless="${songRequest.sequence} == -1" class="well well-sm">			
			<td><span class="badge badge-secondary" th:text="${songRequest.sequence}"></span></td>
			<td th:unless="${songRequest.duetUser} == null" th:text="${songRequest.user.firstName} + ' ' + ${songRequest.user.lastName} + ' and ' + ${songRequest.duetUser.firstName} + ' ' + ${songRequest.duetUser.lastName}"></td>
			<td th:if="${songRequest.duetUser} == null" th:text="${songRequest.user.firstName} + ' ' + ${songRequest.user.lastName}"></td>										
			<td th:text="${songRequest.songName}"></td>
			<td th:text="${songRequest.artistName}"></td>
			<td>
				<form class="queue-form" th:action="@{/admin/queue/} + ${songRequest.id}" method="POST" style="display:inline-block">	 
					<div class="input-group">
						<input type="text" class="form-control" style="width:55px" placeholder="Seq" name="sequence"></input>
						<div class="input-group-append">
							<button class="btn btn-secondary" type="submit">Bump</button>
						</div>   						
  					</div>								 		
				</form>			
				<form class="complete-form" th:action="@{/admin/complete/} + ${songRequest.id}" method="POST" style="display:inline-block">
					<div class="input-group">
						<button type="submit" class="btn btn-primary">
							 Complete
						</button>
					</div>									
				</form>		
				<form class="cancel-form" th:action="@{/request/delete/} + ${songRequest.id}" method="POST" style="display:inline-block">
					<div class="input-group">
						<button type="submit" class="btn btn-outline-primary">
							 Cancel
						</button>
					</div>									
				</form>							
			</td>	
		</tr>
		<tr th:each="songRequest : ${currentRequests}" th:if="${songRequest.sequence} == -1" class="well well-sm">			
			<td><span class="badge badge-light" th:text="${songRequest.id}"></span></td>		
			<td th:unless="${songRequest.duetUser} == null" th:text="${songRequest.user.firstName} + ' ' + ${songRequest.user.lastName} + ' and ' + ${songRequest.duetUser.firstName} + ' ' + ${songRequest.duetUser.lastName}"></td>
			<td th:if="${songRequest.duetUser} == null" th:text="${songRequest.user.firstName} + ' ' + ${songRequest.user.lastName}"></td>
			<td th:text="${songRequest.songName}"></td>
			<td th:text="${songRequest.artistName}"></td>
			<td>
				<form class="queue-form" th:action="@{/admin/queue/} + ${songRequest.id}" method="POST" style="display:inline-block">	 
					<div class="input-group">
						<input type="text" class="form-control" style="width:55px" placeholder="Seq" name="sequence"></input>
						<div class="input-group-append">						
							<button class="btn btn-outline-secondary" type="submit">Queue</button>
	  					</div>
					</div>													 		
				</form>			
				<form th:action="@{/request/delete/} + ${songRequest.id}" method="POST" style="display:inline-block">
					<div class="input-group">
						<button type="submit" class="btn btn-outline-primary">
							 Cancel
						</button>
					</div>									
				</form>								
			</td>	
		</tr>		
	</table>
</div>