<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>   
	
</head>
<body>

<div th:fragment="credentialsModal">
	<div class="modal fade" id="kioskLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Enter Credentials</h5>
	      </div>
	      <div class="modal-body">
	      	<div class="alert alert-danger" role="alert" id="credential-invalid" hidden="hidden">
			  Invalid credentials
			</div>
	        <form>
	          <div class="form-group">
	            <label for="credential-username" class="col-form-label">User name:</label>
	            <input type="text" class="form-control" id="credential-username"/>
	          </div>
	          <div class="form-group">
	            <label for="credential-password" class="col-form-label">Password:</label>
	            <input type="password" class="form-control" id="credential-password"/>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <a th:href="@{/kiosk}" class="btn btn-outline-secondary" id="credential-cancel" onclick="continueClick()">Cancel</a>
	        <button type="button" class="btn btn-primary" id="credential-continue">Continue</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

</body>
</html>