<div th:fragment="requestsList">
	
	<div th:each="songRequest : ${songRequests}" class="card border-light mt-2 bg-transparent">
	  <div class="card-header">
		  	<div class="row">
		  		<div class="col">
					<h5 th:if="${songRequest.sequence} == -1" class="text-light text-left"><span class="badge badge-secondary">SUBMITTED</span></h5>
		  			<h6	th:if="${songRequest.sequence} != -1" class="text-light text-left"># <span class="badge badge-light" th:text="${songRequest.sequence} + 1"></span> IN LINE</h6>  		
		  		</div>		  	
		  		<div class="col">
		  			<form th:action="@{/request/delete/} + ${songRequest.id}" method="POST" th:if="${songRequest.sequence == -1}">			 
						<button type="submit" class="btn btn-sm btn-block btn-outline-danger float-right" style="max-width:100px">
							 Cancel
						</button>			
					</form>
		  		</div>	  		 
		  	</div>
	  </div>  
	  <div class="card-body text-secondary">
	    <dl class="row">
	    	<dt class="col-sm-3 h6 text-light">SONG</dt>
	    	<dd class="col-sm-9 text-light" th:text="${songRequest.songName}"></dd>
	    	<dt class="col-sm-3 h6 text-light">ARTIST</dt>
	    	<dd class="col-sm-9 text-light" th:text="${songRequest.artistName}"></dd>
	    	<dt th:unless="${songRequest.duetUser} == null" class="col-sm-3 h6 text-light">DUET WITH</dt>
	    	<dd th:unless="${songRequest.duetUser} == null" class="col-sm-9 text-light" th:text="${songRequest.duetUser.firstName} + ' ' + ${songRequest.duetUser.lastName}"></dd>
	    </dl>
	  </div>	  
	</div>
</div>