<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
<div th:if="${param.error}">
 	<h1 style="color:red">Username or Password is wrong. Please check again</h1>
 </div>
 <div th:if="${param.logout}">
    <h1 style="color:blue">Logged out.</h1>
 </div>
 <form th:action="@{/user/create}" th:object="${user}" method="post">
     <div><label> User Name : <input type="text" name="username" th:field="*{username}"/> </label></div>
     <div><label> Password: <input type="text" name="firstName" th:field="*{firstName}"/> </label></div>
     <div><label> Password: <input type="text" name="lastName" th:field="*{lastName}"/> </label></div>
     <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
     <div><input type="submit" value="Sign In"/>    </div>
 </form>
</div>



</body>
</html>
