<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <script th:src="@{/js/SongRequest/songRequest.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

<div class="panel panel-primary">
	<div class="panel panel-heading">
		Next in line
	</div>
	<div class="panel panel-body">
		<div th:each="nextRequest : ${nextRequests}" class="well well-sm">			
			<h4 th:text="${nextRequest.user.firstName} + ' ' + ${nextRequest.user.lastName}"></h4>			
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel panel-heading">
		Your requests
	</div>
	<div class="panel panel-body">
		<div th:each="songRequest : ${songRequests}" class="well well-sm">
			<div th:if="${songRequest.sequence} == 1">
				<span class="label label-info">Get ready!  Your are up soon.</span>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h4><span class="label label-default">Song</span></h4>
						<h4 th:text="${songRequest.songName}"></h4>
					</div>
					<div class="col-sm-6">
						<h4><span class="label label-default">Artist</span></h4>
						<h4 th:text="${songRequest.artistName}"></h4>
					</div>
				</div>
			</div>
			<br/>			
			<form th:action="@{/request/delete/} + ${songRequest.id}" method="POST">			 
				<button type="submit" class="btn btn-danger">
					 Cancel Request
				</button>			
			</form>
		</div>
		<button type="button" class="btn btn-success"><a th:href="@{/request/create}" class="whiteLink">New Song Request</a></button>
	</div>	
</div>

</div>

</body>
</html>
