<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <script th:src="@{/js/SongRequest/songRequest.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
	
	<div class="card mb-3 mt-2">
		<div class="card-body">
			<h5 class="card-title text-dark">Next in line</h5>
			<table class="table table-sm table-borderless">
			 	<tr th:each="nextRequest, iter : ${nextRequests}">
			 		<td><span class="badge badge-pill badge-secondary" th:text="${iter.index} + 1"></span></td>
			 		<td th:unless="${nextRequest.duetUser} == null" th:text="${nextRequest.user.firstName} + ' ' + ${nextRequest.user.lastName} + ' and ' + ${nextRequest.duetUser.firstName} + ' ' + ${nextRequest.duetUser.lastName}"></td>
			 		<td th:if="${nextRequest.duetUser} == null" th:text="${nextRequest.user.firstName} + ' ' + ${nextRequest.user.lastName}"></td>
			 	</tr>
			 </table>
			 <a th:href="@{/request/create}" class="btn btn-primary btn-sm btn-block">Create Song Request</a>
		</div>		
	</div>

	<div th:replace="fragments/requestsList :: requestsList"/>	

</div>

</body>
</html>
