<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

<h1 class="display-4 text-light">KaraokeQueue</h1>
<p class="lead text-light">Welcome to Karaoke Night</p>

 <div class="card">
 	<div class="card-header">
 		Log in
 	</div>
 	<div class="card-body"> 	
	 	<div th:if="${param.error}">
			<div class="alert alert-danger">
				<h5><span class="badge badge-danger">LOGIN FAILED</span></h5>
				<h5>Verify that your credentials are correct.</h5>
			</div>	
		</div>
		<div th:if="${param.logout}">
			<div class="alert alert-primary">
				<h5><span class="badge badge-primary">LOGOUT SUCCESSFUL</span></h5>
				<h5>You have been logged out.</h5>
			</div>
		</div>
		 <form th:action="@{/login}" method="post">
			 <div class="form-group">
			    <label>User Name:</label>
			    <input type="text" name="username" class="form-control"></input>    
			  </div>
			  <div class="form-group">
			    <label>Password:</label>
			    <input type="password" name="password" class="form-control"></input>	    
			  </div>
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
			  <a th:href="@{/user/create}">Create new account</a>		  
			  
		</form>
	</div>
</div>



</div>
</body>
</html>
