<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="row" th:if="${loginError}!=null">
	<p th:text="${loginError}"></p>
		
	
</div>

<!--
<form th:action="@{/songRequest/create}" method="POST" th:object="${songRequest}">
	<div class="panel panel-default">
		<div class="panel panel-heading">
			Create song request
		</div>
		<div class="panel panel-body">
			<input type="text" name="songName" th:value="*{songName}" />
			<input type="text" name="artistName" th:value="*{artistName}" />
		</div>
	</div>
	<input type="submit"/>
</form>
-->
<h1>song request</h1>
</body>
</html>
